{{#each this}}
<li class="SEARCH-FORM__card" data-category="{{category}}" data-description="{{description}}" data-phone="{{phone}}"
    data-userID="{{userId}}" data-id="{{_id}}" data-title="{{title}}" data-images="{{imageUrls}}"
    data-price="{{price}}">
    <svg class="search-icon-heart" data-id="{{_id}}">
        <use href="../images/sprite/symbol-defs.svg#icon-heart-orange" data-id="{{_id}}"></use>
    </svg>
    <div class="SEARCH-FORM__img-block">
        {{#each imageUrls}}
        <img class="found-img" src={{this}} alt="{{title}}">
        {{/each}}
    </div>
    <div class="search-form__text_-container">
        <h3>{{title}}</h3>
        <p>{{price}} грн.</p>
    </div>

</li>
{{/each}}